#home{
  background-color:lavender;

 }
   
 
 li a {
 color:white;
 
  
}
li a:hover {

  
  color:orange;

}


	 
  #tag{
    position: relative;
   
    background-color:white;
    
    margin-top: -50px;
     box-shadow: 0 3px #999;
    

}

.d-flex{
display: flex;

}

.card:hover{
     transform: scale(1.05);
  box-shadow: 20px 15px 30px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,10,.06);
  cursor: pointer;

}
.nav-link{
	margin-right: 20px;
}
.card-title{
  font-family:sans-serif;
  color:#00008B;
 
}
#section1{
  padding-top: 70px;
  
}
.col-md-7 h1{
  padding-left: 80px;
  color: #0000ff;
  font-family:sans-serif;
  padding-top:30px; 
 
}
#button{
  background-color:#FF8C00;
  color: white;
  margin-left: 230px;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 5px;
  
   box-shadow: 0 9px #999;

}
iframe{
  padding-top: 40px;
}
h2,i{
  padding-left:10px;
   color: #FF8C00; 
  font-family:sans-serif;
}